* {
    box-sizing: border-box;
}
/* mobile */
.col-s-1 {width: 2%;}
.col-s-2 {width: 96%;}
.col-s-3 {width: 33%;}
.col-s-4 {width: 100%;}
.col-s-5 {width: 0%;}
@media only screen and (min-width: 600px) {
    /* desktop */
    .col-1 {width: 2%;}
    .col-2 {width: 96%;}
    .col-3 {width: 33%;}
}
[class*="col-"] {
    float: left;
    padding: 1px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
#wrapper {
    background-color: #002b36;
    border-radius: 20px;
    padding: 20px;
}
#button {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
